* {
    box-sizing: border-box;
}

body {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.jatekter {
    width: calc(3*10vw + 20px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    gap: 10px;
}

.elem {
    aspect-ratio: 1;
    border: 1px, solid black;
    font-size: 8vw;
}